/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

/*
	EXAMPLE 1
*/

//Mixin
@mixin hide-text {
	text-indent: -9999px;
	overflow: hidden;
	p {
		color: red;
	}
}

//Placeholder
%hide-text {
	text-indent: -9999px;
	overflow: hidden;
	p {
		color: red;
	}
}

//Extend
/*
.hide-text {
	text-indent: -9999px;
	overflow: hidden;
	p {
		color: red;
	}
}
*/

/*
	EXAMPLE 1 USAGE
*/

.foo {
	@include hide-text;
	//@extend %hide-text;
	//@extend .hide-text;
	z-index: 9999;
}
 
.bar {
	@include hide-text;
  	//@extend %hide-text;
  	//@extend .hide-text;
  	z-index: 9999;
}
 
.baz {
	@include hide-text;
	//@extend %hide-text;
	//@extend .hide-text;
	z-index: 9999;
}


/*
	EXAMPLE 2
*/

//Mixin
@mixin module {
	border: 1px solid black;
	padding: 15px;
}

@mixin error {
	color: red;
	p {
		text-decoration: underline;
	}	
}

//Placeholder
%module {
	border: 1px solid black;
	padding: 15px;

}

%error {
	color: red;
	p {
		text-decoration: underline;
	}	
}

//Extend
/*.module {
	border: 1px solid black;
	padding: 15px;
}

.error {
	color: red;
	p {
		text-decoration: underline;
	}	
}*/

/*
	EXAMPLE 2 USAGE
*/
/*
.foo {
	
	@include module;
	@include error;
	
	//@extend %module;
	//@extend %error;

	//@extend .module;
	//@extend .error;

	z-index: 9999;

}
*/
